.cart {
    position: relative;
}
.cart img {
    height: 50px;
    width: auto;
}
.cart .cantidad{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}